@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}


#main h1{
    text-align: center;
}
.for_input{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #00a6ff;
    align-self: center;

}
.for_input:hover {
    transition-duration: 0.5s;

    box-shadow: 0 0 20px 3px #00a6ff;
}
.for_input label{
    margin: 20px 0 5px 9px;
    font-family: "Roboto";
}

.for_input input {
    background-color: rgba(0, 0, 0, 0.7);
    color: #faf8f8;
    padding: 10px;
    height: 35px;
    border-radius: 20px;
    border: none;
}


.for_input input:focus {
    outline-style: none;
}

.input_date {
    width: 40%;
    cursor: pointer;
}
.checkbox {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
}
.checkbox label {
    margin: 0 20px 0 10px;
}
.input_checkbox {
    width: 20px;
    height: 20px;
}

.number {
    width: 40%;
}
.show_password{
    margin-top: 10px;
    display: flex;
    height: 20px;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}
.show_password input{
    width: 20px;
    height: 20px;
}
.input_submit {
    margin: 10px;
    cursor: pointer;
}
.input_submit:hover{
    transition-duration: 1s;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.7);;
}
.show_password label{
    margin: 0;
}