@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Oswald:wght@300&display=swap");
* {
  font-family: "Gowun Batang", serif;
}

nav {
  background-color: rgba(41, 41, 41, 0.95);
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 6px 40px;
  align-items: center;
}
.menu_logo {
  display: flex;
  height: 20px;
  align-items: center;
}
.menu_logo_img {
  width: 40px;
}
.menu_logo_desc {
  color: #bbbbbb;
}
.menu_main {
  display: flex;
  justify-content: space-around;
  width: 700px;
}
.menu_main li {
  top: 7px;
  position: relative;
}
.menu_main li:before {
  display: block;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: -25px;
}
.menu_main li:nth-child(1):before {
  background: url("../icons/tshirt-solid.svg") center center/cover no-repeat;
}
.menu_main li:nth-child(2):before {
  background: url("../icons/apple-alt-solid.svg") center center/cover no-repeat;
}
.menu_main li:nth-child(3):before {
  background: url("../icons/wrench-solid.svg") center center/cover no-repeat;
}
.menu_main li:nth-child(4):before {
  background: url("../icons/info-solid.svg") center center/cover no-repeat;
}
.menu_main li:last-child:before {
  background: url("../icons/sign-in-alt-solid.svg") center center/cover no-repeat;
}
.menu_main_item {
  text-decoration: none;
  color: #bbbbbb;
}
.menu_main_item:hover {
  color: white;
}
.menu_search_bar img {
  width: 29px;
  cursor: pointer;
}

.promo {
  min-height: 625px;
  background: url("../img/background/shoppingmall4.jpg") center center/cover no-repeat;
}
.promo_basic {
  position: relative;
  top: 24px;
  height: 572px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
.promo_basic:hover {
  box-shadow: 10px 9px 14px 2px black;
  transition-duration: 1s;
}
.promo_basic_header {
  text-align: center;
  color: #bbbbbb;
  font-size: 30px;
}
.promo_basic_subheader {
  margin-top: 15px;
  text-align: center;
  color: #bbbbbb;
  font-size: 30px;
}
.promo_basic_line {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.promo_basic_line_line1 hr {
  height: 2px;
  width: 220px;
  background-color: white;
}
.promo_basic_line_text {
  color: white;
}
.promo_basic_line_line2 hr {
  height: 2px;
  width: 220px;
  background-color: white;
}
.promo_desc {
  margin: 0 auto;
  text-align: center;
  color: #00ffd0;
  font-size: 20px;
  font-family: "Gowun Batang", serif;
}
.promo_button {
  margin-top: 25px;
}
.promo_button button {
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  padding: 8px;
  width: 100px;
  text-align: center;
  background-image: radial-gradient(white 35%, black 88%);
  border-radius: 5px;
}
.promo_button button:active {
  transform: scale(0.8);
}
.promo_button button:focus {
  background-image: radial-gradient(black 35%, white 88%);
  color: white;
}
.promo_block {
  margin-top: 25px;
}
.promo_block_img img {
  cursor: pointer;
  display: block;
  width: 50px;
  margin: 0 auto;
}

.clothes {
  min-height: 625px;
  margin-bottom: 10px;
}
.clothes_basic_header {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 30px;
}
.clothes_basic_header:before {
  content: "";
  position: absolute;
  display: block;
  top: 9px;
  left: 480px;
  width: 24px;
  height: 24px;
  background: url("../icons/tshirt-solid.svg") center center/cover no-repeat;
}
.clothes_basic_list {
  display: flex;
  justify-content: space-around;
}
.clothes_basic_list_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.clothes_basic_list_info_name {
  position: relative;
  top: 34px;
  background-color: #00ff0d;
  width: 52px;
  padding: 14px;
  border-radius: 50px;
  cursor: pointer;
}
.clothes_basic_list_info_desc {
  width: 400px;
  background-color: #00ff0d;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}
.clothes_basic_list_info:nth-child(2) .clothes_basic_list_info_name {
  width: 80px;
  background-color: #d900ff;
}
.clothes_basic_list_info:nth-child(2) .clothes_basic_list_info_desc {
  background-color: #d900ff;
}
.clothes_basic_list_info:last-child .clothes_basic_list_info_name {
  background-color: #00a6ff;
}
.clothes_basic_list_info:last-child .clothes_basic_list_info_desc {
  background-color: #00a6ff;
}
.clothes_basic_clothes {
  display: flex;
  justify-content: space-around;
  min-height: 400px;
}
.clothes_basic_clothes_kids {
  width: 300px;
  display: flex;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  overflow: auto;
}
.clothes_basic_clothes_kids_list {
  display: flex;
  flex-direction: column;
}
.clothes_basic_clothes_kids_list_wear {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-bottom: 2px solid black;
  padding: 10px;
}
.clothes_basic_clothes_kids_list_wear:last-child {
  border-bottom: 0;
}
.clothes_basic_clothes_kids_list_wear_text {
  text-align: center;
  border-radius: 10px;
}
.clothes_basic_clothes_kids_list_wear img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.clothes_basic_clothes_kids_list_wear_button {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 10px;
}
.clothes_basic_clothes_kids_list_wear_button button {
  outline: none;
  border: none;
  padding: 5px;
  background-color: #00a6ff;
  border-radius: 10px;
  color: white;
}
.clothes_basic_clothes_kids_list_wear_button button:active {
  background-color: #0a58ca;
  transform: scale(0.9);
}

.product {
  min-height: 625px;
  background: url("../img/background/product_background.jpg") center center/cover no-repeat;
}
.product_basic_header {
  position: relative;
  top: 10px;
  font-size: 30px;
  text-align: center;
}
.product_basic_header:before {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  left: 472px;
  width: 26px;
  height: 30px;
  background: url("../icons/apple-alt-solid.svg") center center/cover no-repeat;
}
.product_basic_container {
  position: relative;
  display: flex;
  top: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: auto;
  height: 500px;
}
.product_basic_container_item {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.62);
  backdrop-filter: blur(3px);
  align-items: center;
  transition: 0.5s all;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
}
.product_basic_container_item:hover {
  box-shadow: 0 0 2px 4px rgba(43, 255, 54, 0.91);
}
.product_basic_container_item_img img {
  width: 150px;
  height: 120px;
}

/*# sourceMappingURL=style.css.map */
