*{
    margin: 0;
    padding: 0;
}
.basic_div{
    display: flex;
    flex-direction: column;
}
.basic_login{
    background-color: darkgreen;
    width: 400px;
    padding: 20px;
    align-self: center;
    margin-top: 200px;
    border-radius: 30px;
}
.for_label{
    text-align: center;
    color: #00a6ff;
    font-weight: bold;

}
.for_input{
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}
.for_input input{
    width: 400px;
    height: 40px;
    margin: 30px 0;
    border-radius: 30px;
    align-self: center;
    text-align: center;
    background-color: coral;
}
.for_input input{
    color: blue;
    background-color: #00ff55;
}
.for_input input[type=submit]{
    width: 200px;
    cursor: pointer; background-color: rosybrown;
}