@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

a:link, a:visited {
    color: black;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cards_box {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.cards_box:hover  {
    transition-duration: 0.7s;
    box-shadow: 0 0 20px 4px black;
}

.cards_box .cards_box_black{
    width: 100%;
    height: 45%;
    background-color: lightslategray;
    border-radius: 10px 10px 0 0;
}
.fio:hover .cards_box_white_name:after  {
    content: '';
    display: block;
    transition-duration: 0.5s;
    width: 100%;
    height: 2px;
    color: black;
    background-color: black;
}
.fio:hover .cards_box_white_surname:after {
    content: '';
    display: block;
    transition-duration: 0.5s;
    width: 100%;
    height: 2px;
    color: black;
    background-color: black;
}
.cards_box_image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 37px;
    transform: translateX(-50%);
    border: 0 solid black;

}
.cards_box_image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.cards_box_white_name:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    color: black;
    background-color: black;
    transition-duration: 0.5s;
}
.cards_box_white_surname:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    color: black;
    background-color: black;
    transition-duration: 0.5s;
}
.cards_box_white {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
    background-color: #cad6e37d;
    border-radius: 0 0 10px 10px ;

}
.cards_box_white_info {
    align-self: center;
}
.fio  {
    display: flex;
    justify-content: center;
}
.cards_box_white_name {
    margin: 12px 7px;
}
.cards_box_white_surname {
    margin: 12px 0;
}

.font {
    font-size: 20px;
}

.cards_box_white_links {
    align-self: center;
}

.fa-instagram {
    font-size: 29px;
    color: #ff6ee7;
}
.fa-facebook {
    font-size: 29px;
    color: darkblue;
}