*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Comic Sans MS";
}
.basic_div {
    display: flex;
    flex-direction: column;
}
#basic_login{
    background-color: rgba(72, 61, 139, 0.84);
    width: 600px;
    padding: 20px;
    align-self: center;
    margin-top: 200px;
    border-radius: 20px;
}
.for_label {
    text-align: center;
    font-weight: bold;
    color: white;
}
.for_input {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}
.for_input input {
    width: 400px;
    margin: 30px 0 0;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 6px;
    align-self: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}
.for_input input:focus{
    outline: none;
}
.for_input input::placeholder {
    color: rgba(250, 248, 248, 0.85);
}
.for_input input[type=submit] {
    margin-inside: 21px;
    width: 100px;
    text-align: center;
    padding: 0;
    align-self: center;
    cursor: pointer;
}
